<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqE7iXEuFFAsXBbtq0aG0Ys0qKo6SrBdU</string>
	<key>GCM_SENDER_ID</key>
	<string>4558499673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dartnative.starter</string>
	<key>PROJECT_ID</key>
	<string>dartnative</string>
	<key>STORAGE_BUCKET</key>
	<string>dartnative.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4558499673:ios:45879a2d46dd890f1e6648</string>
</dict>
</plist>